*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    color: #F5F5F5;
    background-color: #202124;
    font-family: 'Noto Sans JP','Roboto', sans-serif;
}

/*header
------------------------------------------------------------*/
header{
    padding: 1% 8%;
    position: fixed;/*固定*/
    top: 0;/*最上部*/
    width: 100%;/*横幅をディスプレイの横の大きさに*/
    background-color: #0B0B61;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header img{
    padding: 0;
    margin: auto 20px;
    display: flex;
    align-items: center;
    width: 70px;
}
.header nav



/*footer
------------------------------------------------------------*/
footer{
    /* 上 | 左右 | 下 */
    padding: 25px 4% 25px;
    bottom: 0;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    color: #F5F5F5;
    background-color: #19191E;
}
.footer-right{
    position: relative;
    /* 上 | 右 | 下 | 左 */
    margin:0 auto 0 20%;
}
.footer-light{
    position: relative;
    /* 上 | 右 | 下 | 左 */
    margin:0 20% 0 auto;

}
.fas_sns_circle{
	margin: 0;
	padding: 0; 
	display: -webkit-flex;
    display: -moz-flex;
    display: flex;
}
.fas_sns_circle li{
	list-style: none;
	margin: 0 20px 0 0;
}
.fas_sns_circle li:nth-child(3) {
	margin: 0;
  }
.fas_sns_circle li a{
	text-decoration: none;
	display: inline-block;
	background: #333;
	border-radius: 25px;
}
.fas_sns_circle li a i{
	display: inline-block;
	width: 50px;
	height: 50px;	
	color: #fff;
	font-size: 20px;
	display: -webkit-flex;
    display: -moz-flex;
    display: flex;
	justify-content: center;
	align-items: center;	
}

.main-visual{
    background-image: url('https://Jikky1618.github.io/img/Background.png');
    background-color: #202124;
    background-attachment: fixed;/*固定*/
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.main-visual h2{
    margin: 0;
    font-size: 70px;
    font-weight: bold;
    color: #F5F5F5;
}
.about-icon img{
    width:  200px;       /* ※縦横を同値に */
    height: 200px;
    border-radius: 50%;
    text-align: center;
    border: 9px solid #2B2A33; /* 枠線を付加 */
}
.about,.works{
    margin: auto 20%;
    text-align: center;
}
.about h1{
    margin: 50px 20%;
}
.works h1{
    margin: 50px 20% 10px;
}
h1#name{
    margin: 5px 20%;
}
.about p,.works p{
    text-align: left;
    display: inline-block;
}
.title p{
    margin: 7px 20%;
    font-size: 15px;
}
a{
    text-decoration: none;
    color: #F5F5F5;
}
nav{
    margin-left: auto;
}
ul{
    list-style: none;
    margin: 0 15px;
    display: flex;
}
li{
    margin: 0 15px;
    font-size: 15px;
}

@media only screen and (max-width: 640px){
    .header-nav{
        display: none;
    }

    #header img{
        margin: auto 0;
    }

    .main-visual h2{
        margin: 0;
        font-size: 40px;
        font-weight: bold;
        color: #F5F5F5;
    }

    .about,.works{
        margin: auto 5%;
        text-align: center;
    }
    .about h1{
        margin: 40px 5%;
    }
    .works h1{
        margin: 40px 5% 10px;
    }
    h1#name{
        margin: 5px 5%;
    }
    footer{
        /* 上下 | 左右 */
        padding: 20px 4%;
        bottom: 0;
        width: 100%;
        text-align: center;
        flex-flow: column;
        color: #F5F5F5;
        background-color: #19191E; 
    }
    .footer-right,.footer-light{
        position: relative;
        /* 上 | 右 | 下 | 左 */
        margin: 0 auto;
    }
}