*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    color: #F5F5F5;
    background-color: #202124;
    font-family: 'Noto Sans JP','Roboto', sans-serif;
}
header{
    padding: 1% 5% 1%;
    position: fixed;/*固定*/
    top: 0;
    width: 100%;
    background-color: #0B0B61;
    display: flex;
    align-items: center;
}
.header h1{
    margin: auto 20px; padding: 0;
    font-size: 20px;
    color: #F5F5F5;
}
a{	
    text-decoration: none;
    color: #F5F5F5;
}
nav{
    margin: 0 0 0 auto;
}
ul{
    list-style: none;
    margin: 0 15px;
    display: flex;
}
li{
    margin: 0 15px;
    font-size: 14px;
}
.main-visual{
    background-image: url('https://Jikky1618.github.io/img/Background.png');
    background-attachment: fixed;/*固定*/
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.main-visual h2{
    margin: 0;
    font-size: 70px;
    font-weight: bold;
    color: #F5F5F5;
}
.about{
    margin: 0;
    text-align: center;
}
footer{
    padding: 20px 4% 10px;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    color: #F5F5F5;
}