*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    color: #F5F5F5;
    background-color: #202124;
    font-family: 'Noto Sans JP','Roboto', sans-serif;
}
header{
    padding: 1% 5% 1%;
    position: fixed;/*固定*/
    top: 0;/*最上部*/
    width: 100%;/*横幅をディスプレイの横の大きさに*/
    background-color: #0B0B61;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header img{
    margin: auto 20px;
    padding: 0;
    display: flex;
    align-items: center;
}
a{	
    text-decoration: none;
    color: #F5F5F5;
}
nav{
    margin: 0 0 0 auto;
}
ul{
    list-style: none;
    margin: 0 15px;
    display: flex;
}
li{
    margin: 0 15px;
    font-size: 14px;
}
.main-visual{
    background-image: url('https://Jikky1618.github.io/img/Background.png');
    background-color: #202124;
    background-attachment: fixed;/*固定*/
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.main-visual h2{
    margin: 0;
    font-size: 70px;
    font-weight: bold;
    color: #F5F5F5;
}
.about-icon img{
    width:  200px;       /* ※縦横を同値に */
    height: 200px;
    border-radius: 50%;
    text-align: center;
    border: 9px solid #2B2A33; /* 枠線を付加 */
}
.about .works{
    margin: auto 20%;
    text-align: center;
}
.about h1 .works h1{
    margin: 5px 20%;
}
h1#about{
    margin: 10px 20%;
}
.about p .works p{
    text-align: left;
    display: inline-block;
}
footer{
    padding: 30px 4% 20px;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    color: #F5F5F5;
}