*{
    box-sizing: border-box;
 }
body{
    margin: 0;
    padding: 0;
    background-color: #202124;
    font-family: 'Noto Sans JP','Roboto', sans-serif;
}
header{
    padding: 5px 5% 5px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0B0B61;
    display: flex;
    align-items: center;
}
.header h1{
    margin: 0; padding: 0;
    font-size: 20px;
    color: #fff;
}
a{	
    text-decoration: none;
    color: #fff;
}
nav{
    margin: 0 0 0 auto;
}
ul{
    list-style: none;
    margin: 0;
    display: flex;
}
li{
    margin: 0 0 0 15px;
    font-size: 14px;
}
.main-visual{
    background: url('https://Jikky1618.github.io/img/Background.png') top center / cover no-repeat;/*背景をBackground.pngにする*/
    background-attachment: fixed;/*背景をスクロールしないよう固定*/
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.main-visual h2{
    margin: 0;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
}
footer{
    padding: 20px 4% 10px;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    color: #fff;
}