*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #F5F5F5;
    background-color: #202124;
    font-family: 'Source Sans Pro',-apple-system, BlinkMacSystemFont,'Noto Sans JP', 'Helvetica Neue', 'Yu Gothic','Roboto',メイリオ,sans-serif;
}
a{
    color: #F5F5F5;
    position: relative;
    display: inline-block;
    text-decoration: none;
}
h2{
    margin: 50px 20%;
    font-size: 32px;
}
p{
    text-align: left;
    display: inline-block;
}
img{
    margin: auto;
    display: flex;
    align-items: center;
}
ul{
    list-style: none;
    display: flex;
}

/*loading bar
------------------------------------------------------------*/
#splash{
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	background: #19191E;
	text-align:center;
	color:#fff;
}


#splash_text{
	position: absolute;
	top: 50%;
	left: 50%;
    z-index: 9999;
	width: 200px;
	transform: translate(-50%, -50%);
	color: #fff;
}


/*header
------------------------------------------------------------*/
header{
    padding: 25px 8%;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}
.header img{
    padding: 0;
    width: 70px;
}
.header li{
    margin: 0 20px;
    font-size: 15px;
}
.header-nav a::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #F5F5F5;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform .3s;
}
.header-nav a:hover{
    color: #FFAE00;
}
.header-nav a:hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
    background: #FFAE00;
}

.header.scroll{
    padding: 8px 8%;
    background: #0B0B61;
  }

/*main-visual
------------------------------------------------------------*/
.main-visual{
    background-image: url('https://Jikky1618.github.io/img/Background.webp');
    background-color: #202124;
    background-attachment: fixed;/*固定*/
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.main-visual h1{
    margin: 0;
    font-size: 120px;
    display: block;
    font-weight: bold;
}

/*about,skills,works
------------------------------------------------------------*/
.about-icon img{
    width:  200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    border: 9px solid #2B2A33;
}
.about,.skills,.works{
    margin: auto 20%;
    text-align: center;
}
.skill-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill-icon li{
	align-items: center;
    margin: 5% 8%;
}
.skill-icon h2{
    margin: 10px;
    font-size: 16px;
}
.skill-icon p{
    width: 230px;
    text-align: center;
}
.skill-icon i{
    font-size: 120px;
}

.name h2{
    margin: 5px 20%;
}
.title p{
    margin: 7px 20%;
    font-size: 18px;
}

/*footer
------------------------------------------------------------*/
footer{
    /* 上 | 左右 | 下 */
    padding: 25px 4% 25px;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    color: #F5F5F5;
    background-color: #19191E;
}
.footer-right{
    position: relative;
    /* 上 | 右 | 下 | 左 */
    margin:0 auto 0 25%;
}
.footer-light{
    position: relative;
    margin:0 25% 0 auto;

}
.fas-sns-circle{
	margin: 0;
	padding: 0; 
	display: -webkit-flex;
    display: -moz-flex;
    display: flex;
}
.fas-sns-circle li{
	list-style: none;
	margin: 0 20px 0 0;
}
.fas-sns-circle li:nth-child(3) {
	margin: 0;
}
.fas-sns-circle li a{
	text-decoration: none;
	display: inline-block;
	background: #333;
	border-radius: 25px;
    transition: .5s;
}
.fas-sns-circle li a:hover{
    background: #FFAE00;
}
.fas-sns-circle li a i{
    display: inline-block;
	width: 50px;
	height: 50px;	
	color: #F5F5F5;
	font-size: 20px;
	display: -webkit-flex;
    display: -moz-flex;
    display: flex;
	justify-content: center;
	align-items: center;
}

/*fadeUp
------------------------------------------------------------*/
.fadeUp{
    display: block;
    animation-name: fadeUpAnime;
    animation-duration: .6s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes fadeUpAnime{
    from {
      opacity: 0;
      transform: translateY(100px);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

/*media only screen
------------------------------------------------------------*/
@media  only screen and (max-width: 850px){
    .skill-icon{
        flex-flow: column;
    }
    .main-visual h1{
        margin: 0;
        font-size: 80px;
        font-weight: bold;
    }
    footer{
        /* 上下 | 左右 */
        padding: 20px 4%;
        bottom: 0;
        width: 100%;
        text-align: center;
        flex-flow: column;
        color: #F5F5F5;
        background-color: #19191E; 
    }
    .footer-right,.footer-light{
        position: relative;
        margin: 15px auto;
    }
}

@media only screen and (max-width: 640px){
    .header-nav{
        display: none;
    }

    .header img{
        margin: auto 0;
    }

    .main-visual h1{
        margin: 0;
        font-size: 45px;
        font-weight: bold;
    }

    h2{
        margin: 40px 5%;
    }

    .about,.works{
        margin: auto 5%;
        text-align: center;
    }
    .name h2{
        margin: 5px 5%;
    }
}